@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out;
        -moz-transition: background .5s ease-in-out;
        transition: background .5s ease-in-out;
    }
}

.scrolloff {
    pointer-events: none;
}

.show-nav {
    visibility: visible !important;
    padding: 0;
}

.navbar {
    background: #000;
    color: #fff;
    border: none;
    margin: 0;
    height: 60px;
    visibility: hidden;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

.navbar .navbar-default {
    margin-bottom: 0 !important;
    color: #fff;
    background: #000;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background: #000;
}

.navbar .navbar-nav li a {
    color: #ddd;
    padding: 20px;
    font-size: 12pt;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar .navbar-nav li.active a,
.navbar .navbar-nav li.active a:focus,
.navbar .navbar-nav li.active a:hover {
    color: #fff;
    background: transparent;
}

.navbar .navbar-collapse {
    text-align: center;
    background: #000;
}

.intro-section {
    position: relative;
    height: 100%;
    text-align: center;
    background: #fff;
}

.title {
    font-size: 32pt;
    color: #22313F;
    font-weight: bold;
}

.body {
    margin-top: 40px;
}

.img-thumbnail {
}

.intro-section .content {
    height: 100%;
    width: 100%;
    background-color: #ffdd00;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0,0,0,.02) 5px, rgba(0,0,0,0.02) 7px);
}

.about-section {
    height: auto;
    text-align: center;
    background: url("../img/buildings.jpg");
    background-size: cover;
    color: #ffffff;
}

.about-section .content {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(0,0,0,.8);
}

.about-section .title {
    color: #ffffff;
}

.about-section .row p {
    margin-top: 20px;
    font-size: 16pt;
}

.services-section {
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background: #fff;
}

.services-section .body p {
    font-size: 12pt;
}

.team-section {
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background-color: #ffdd00;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0,0,0,.02) 5px, rgba(0,0,0,0.02) 7px);
    color: #fff;
}

.team-section .title {
    color: #fff;
}

.team-section .body span {
    padding: 0 10px 0 10px;
    background-color: #000000;
}

.contact-section {
    height: auto;
    padding-top: 60px;
    text-align: center;
    background: #fff;
}

.contact-section .body {
    margin-bottom: 60px;
}

.contact-section .body .email span {
    font-size: 17pt;
    color: #22313F;
}

.contact-section .body .email a {
    color: #000;
    font-size: 20pt;
    font-weight: bold;
}

.contact-section #maps {
    background-color: #444;
}

footer {
    padding-top: 20px;
    background-color: #444;
    text-align: center;
    color: #eee;
}

footer .social {
    margin-bottom: 20px;
}

footer .social a {
    margin-right: 5px;
}

footer .social a img {
    height: 30px;
}

footer .copy {
    margin-top: 10px;
    background-color: #555;
    padding-top: 20px;
    padding-bottom: 20px;
}
